**/target
**/dependency-reduced-pom.xml
**/.idea
**/.DS_Store
**/flink-*-SNAPSHOT
**/sql-training-data-producer.iml
**/hbase-fat.jar
**/hbase-1.4.13-bin.tar.gz
**/*output*
image/apache-flink-libraries-1.13.1.tar.gz
image/apache-flink-1.13.1.tar.gz
image/flink-sql-avro-confluent-registry-1.13.0.jar
image/flink-sql-connector-kafka_2.11-1.13.0.jar
